.outerCircle{
    height: 100%;
    width: 100%;
    border-radius: 100%;
    border: 20px solid aliceblue
}
.centerInfoElement{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.knop {
    display: none;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--color-primary);
    border-radius: 100%;
    top: 0;
    left: 0;
}
.roundRangeSliderContainer {
    min-height: 200px;
    max-height: 200px;
    min-width: 200px;
    max-width: 200px;
    position: relative;
}
.slider {
    position: absolute;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: none;
}
