.sectionContentContainer {
    
    height: calc(100vh - 40vh);
    overflow: visible;

    margin-top: 20vh;
    margin-bottom: 20vh;
    margin-left: 20px;
    margin-right: 100px; /* margin-right: 200px;*/

    border-bottom: 2px solid var(--color-lines);
    
    position: relative;
    
    display: flex;
    flex-direction: column;
    

    transition-property: margin;
    transition-duration: 0.3s;
    transition-delay: 0.5s;
    transition-timing-function: ease-in-out;

}
.impressum {
    position: absolute;
    display: block;
    width: 100%;
    height: fit-content;
    bottom: -19vh;
}
.impressum ul {
    list-style: none;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.impressum ul li{
    display: inline-block;
    width: fit-content;
}
.impressum ul li a{
    display: block;
    width: fit-content;
    color: var(--color-text);
}
.impressum ul li a:hover{
    color: var(--color-primary);
}
.impressum p {
    height: fit-content;
    width: fit-content;
    margin-top: 5px;
    opacity: 0.6;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
}