*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --border-r: 5px;
    --color-text: #00080F;
    --color-text-h3:  #F0F8FF;
    --color-background: #F4F3F6;
    --color-background1: #9FD3E7;
    --color-primary: #3EA7D0;
    --color-icons: #00080F;
    --color-lines: #00080F;
    --placeholder-color: #F4F3F6;



    font-size: 12px;
}
html {
    scroll-behavior: smooth;
}
body.dark {
    --color-text: #F0F8FF;
    --color-text-h3:  #F0F8FF;
    --color-background: #0A090C;
    --color-background1: #03221F;
    --color-primary: #15E5CC;
    --color-icons: #F0F8FF;
    --color-lines: #F0F8FF;
    --color-btn: #F0F8FF;
    --placeholder-color: #F4F3F6;
    /* Background gradient colors */
    --gradient-color-1: rgba(21, 229, 204, 0.1881127450980392);
    --gradient-color-2: rgba(4, 42, 38, 0.1881127450980392);
    --gradient-color-3: rgba(0, 0, 0, 0);
    
}
body.light {
    --color-text: #00080F;
    --color-text-h3:  #00080F;
    --color-background: #F4F3F6;
    --color-background1: #9FD3E7;
    --color-primary: #3EA7D0;
    --color-icons: #00080F;
    --color-lines: #00080F;
    --color-btn: #F0F8FF;
    --placeholder-color: #F4F3F6;
    /* Background gradient colors */
    --gradient-color-1: #61B2D2;
    --gradient-color-2: #5A7B88;
    --gradient-color-3: #F2F1F4;
}
body {
    background-color: black;
}
.app {
    font-size: 12px;
    background-color: var(--color-background);
}




/* Fonts */

/* Regular */
@font-face {
    font-family: "Mplus_r";
    src: url(src/assets/fonts/MPLUSRounded1c-Regular.woff);
}
@font-face {
    font-family: "Robo_r";
    src: url(src/assets/fonts/Roboto-Regular.woff);
}
/* Bold*/
@font-face {
    font-family: "Mplus_b";
    src: url(src/assets/fonts/MPLUSRounded1c-Bold.woff);
}
@font-face {
    font-family: "Mplus_bb";
    src: url(src/assets/fonts/MPLUSRounded1c-ExtraBold.woff);
}
@font-face {
    font-family: "Robo_b";
    src: url(src/assets/fonts/Roboto-Bold.woff2);
}











a {
    text-decoration: none;
}
h2 {
    background: rgb(240,248,255);
    background: linear-gradient(90deg, rgba(240,248,255,1) 0%, rgba(21,229,204,1) 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    line-height: 45px;
    font-family: "Mplus_bb", Arial;
    font-size: 3rem;
}
h3 {
    color: var(--color-text-h3);

    font-family: "Mplus_r", "Arial";
}
.icon {
    fill: var(--color-icons);
    min-width: 40px;
    max-width: 40px;
    padding: 10px;
    cursor: pointer;
}
.icon:hover {
    fill: var(--color-primary);
}
p {
    color: var(--color-text);

    font-family: "Robo_r" , "Arial";
    line-height: 18px;

    margin-top: 20px;
}
hr {
    border-color: var(--color-lines);

    margin-top: 10px;
}
button {
    background-color: var(--color-primary);
    border-radius: var(--border-r);
    border: none;
    cursor: pointer;

    margin-top: 20px;
    padding: 6px 20px;

    font-family: "Robo_b", "Arial";
}

button:hover {
    background-color: var(--color-btn);
}
