section {
    display: block;
    height: calc(100vh -40vh);


    overflow: hidden;
    background: linear-gradient(0deg, var(--gradient-color-1) 0%, var(--gradient-color-2) 62%, var(--gradient-color-3) 100%);
}

.sectionContentContainer {
    
    height: calc(100vh - 40vh);
    overflow: hidden;
    

    margin-top: 20vh;
    margin-bottom: 20vh;
    margin-left: 20px;
    margin-right: 100px; /* margin-right: 200px;*/

    border-bottom: 2px solid var(--color-lines);
    
    position: relative;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    transition-property: margin;
    transition-duration: 0.3s;
    transition-delay: 0.5s;
    transition-timing-function: ease-in-out;

}
img {    
    display: block;
    width: 100%;
    height: 100%;
    max-width: 400px;
    object-fit: cover;
    float: right;
}

.hr_1 {
    width: 25%;
}
.icons_container {
    display: flex;
    justify-content: space-between;
    width: fit-content;
}
.leftContainer {
   
    min-width: 150px;
    height: fit-content;
    width: 50%;
    display: inline-block;
    position: relative;
}

.bottomContainer{
    position: absolute;
    left: 0;
    bottom: 5px;
}
.hr_2 {
    position: absolute;
    width: calc(100vw - 40px);
}
.contactbtn {
    background-color: var(--color-primary);
    border-radius: var(--border-r);
    border: none;
    cursor: pointer;
    color: var(--color-background);
    margin-top: 20px;
    padding: 6px 20px;

    font-family: "Robo_b", "Arial";
}
.contactbtn:hover {
    background-color: var(--color-btn);
    color: var(--color-background);
}
